.single-post-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 16px 0;
}

.single-post-container {
    width: 1000px;
    background: white;
    padding: 16px 24px;
    border: 1px solid lightcyan;
    border-radius: 5px;

    &:hover {
        cursor: pointer;
    }
}

.post-info-container {}

.post-comments-container {
    margin-top: 6px;
    border-top: 1px solid black;
    overflow: scroll;
}

@media screen and (max-width: 500px) {
    .single-post-container {
        width: 100%;
        font-size: 14px;
        padding: 5px 10px;
    }
}

@media screen and (max-width: 1000px) {
    .single-post-wrapper {
        gap: 0px;
    }

    .single-post-container {
        width: 80%;
        padding: 5px 10px;
    }
}